Django==1.8
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
altgraph==0.12
beautifulsoup4==4.3.2
gunicorn==19.3.0
itsdangerous==0.24
macholib==1.7
modulegraph==0.12
numpy==1.9.2
py2app==0.9
pytagcloud==0.3.5
requests==2.4.3
wsgiref==0.1.2
